{% extends 'base.html.twig' %}

{% block title %}Thanks for your order!{% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <p>Forgot to add something to your cart? Shop around then come back to pay!</p>
        </div>
    </section>
{% endblock %}
