{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe - La boutique Française
{% endblock %}

{% block content %}
<section class="section">
	<div class="container">
		<h1>Modifier mon mot de passe</h1>
		-
		<a href="{{ path('app_account') }}" class="btn btn-second"><i class="fa-solid fa-arrow-left"></i> Mon compte</a><br>
		<hr>
		{% if notification %}
			<div class="alert alert-info">{{notification}}</div>
		{% endif %}
		{{form(form)}}
		<hr>
	</div>
</section>
{% endblock %}